* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  font-family: "Space Mono", monospace;
  --primary-color: #333333;
}

/* Header */

header {
  padding: 50px;
}

header #header-title {
  font-family: "Inconsolata", monospace;
  font-size: 24px;
  line-height: 25px;
  color: var(--primary-color);
}

/* Hero */

.hero {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 70vw;
  margin: 150px auto;
}

.hero-image img {
  max-width: 540px;
  width: 100%;
}

.hero-title .title {
  font-size: 64px;
  color: var(--primary-color);

  max-width: 590px;
  width: 100%;
  margin-top: 10px;
}

.hero-text .text {
  font-size: 24px;
  line-height: 35px;
  color: #4f4f4f;
  max-width: 390px;
  width: 100%;
  margin: 50px 0;
}

.hero-btn .btn {
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 700;
  padding: 20px 50px;
}


@media (max-width: 425px) {
    .hero {
        display: flex;
        flex-direction: column;
        margin: 10px auto;
    }

    .hero-title .title {
        font-size: 40px;
    }

    .hero-text .text {
        font-size: 18px;
    }

    .hero-btn .btn {
        font-size: 14px;
    }

}

@media (max-width: 375px) {
    .hero-title .title {
        font-size: 35px;
    }

    .hero-text .text {
        font-size: 16px;
    }

    .hero-btn .btn {
        font-size: 12px;
    }
}


@media (max-width: 320px) {
    .hero-title .title {
        font-size: 30px;
    }

    .hero-text .text {
        font-size: 14px;
    }
}